@model IEnumerable<_23_02_2025.Models.Department>


	<p> 
     <a asp-controller="Department" asp-action="Create">Create New</a> 
     </p> 
<table class="table">
    <thead>
        <tr>
            <th>
                <h1>Name</h1>
            </th>
            <th>
                <h1>Location</h1>
            </th>
            <th>
                <h1>EmployeeCount</h1>
            </th>
            <th>
                <h1>Email</h1>
            </th>
           
        </tr>
    </thead> 
    <tbody>
        @foreach (var item in Model)
        {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.EmployeeCount)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            
        </tr>
        }
       
    </tbody>
    </table>