@model _23_02_2025.Models.User



<h4>Login</h4>

<div class="row">
    <div class="col-md-4">


        <form asp-action="Login">

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" asp-action="Home" />
            </div>
        </form>



    </div>
</div>


