
@{ 
    string[] name = { "Abdullah", "Sura", "Saleh"}; 
    int[] Age = { 28, 29, 30 };
    string[] Email = { "abdullah@gmail.com", "sura@gmail.com", "saleh@gmail.com" };
}


<h2>User List</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @for(int i=0; i<name.Length; i++)
        {
            <tr>
                <td>@name[i]</td>
                <td>@Age[i]</td>
                <td>@Email[i]</td>
            </tr>
        }
    </tbody>
</table>
