@model _25_02_2025.Models.User

@{
    ViewData["Title"] = "EditAdmin";
    Layout = "/Views/Shared/Admin.cshtml";
}

<h1>Edit Users</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="EditAdmin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoleType" class="control-label"></label>
                <input asp-for="RoleType" class="form-control" />
                <span asp-validation-for="RoleType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

